html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #666666;
    height: 100%;
    width: 100%;
    background: #f5f5f5;
}

/* Alert Message Box */



.import-alert-text {
    margin: 7px 12px;
}

.text-danger {
    color: #E76269;
}
